{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'partials/_navbar.html' %}

    <div class="container">
        {% include 'partials/_movie_cards.html' %}
    </div>



    <table class="table">
        <thead>
          <tr>
            <th>Movie</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
            {% for movie in movies%}
            <tr>
                <td>{{movie.movie_name}}</td>
                <td>{{movie.movie_category}}</td>
                <td>{{movie.movie_desc}}</td>
            </tr>
            {% endfor%}
        </tbody>
      </table>


</body>
</html>